@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

main {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 8px;
}

h1 {
  font-size: 1.5rem;
}

input {
  /* width: 100%; */
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

button {
  padding: 0.7rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.25rem;
  color: #1f2937;
  background-color: #f0b322;
  border-radius: 6px;
  border: none;
  margin-left: 10px;
}

li {
  list-style: none;
}

.todo-details {
  margin-top: 1rem;
}

.todo-details ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-details ul li {
  text-transform: capitalize;
}
